{% block extends %}
{{ "{% extends 'p1r0TplsAdminLTEBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% set alias=entity|first|lower %}

{% block body %}
{{ "{% trans_default_domain 'admin' %}" }}
{{ "{% block content %}" }}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ "{{ '"~entity~"'|transchoice(2)}}" }}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> {{ "{{ 'Home'|trans}}" }}</a></li>
            <li class="active">{{ "{{ '"~entity~"'|transchoice(2)}}" }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ "{{ '"~entity~" List'|trans}}" }}</h3>
                    </div><!-- /.box-header -->

                    <div class="toolbar">
                    {%- if 'new' in actions %}

                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-success">
                            {{ "{{ 'Create new entry'|trans({'%entry%':'"~entity~"'|transchoice(1)}) }}" }}
                        </a>

                    {%- endif %}

                    </div>

                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                {%- for field, metadata in fields %}

                                <th>{{ "{{ knp_pagination_sortable(pagination, '"~(field|capitalize)~"'|trans({},'labels'), '"~alias~"."~field~"') }}" }}</th>

                                {%- endfor %}

                                <th>{{ "{{ 'Actions'|trans}}" }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ '{% for entity in pagination %}' }}
                            <tr>
                            {%- for field, metadata in fields %}
                                {%- if loop.first and ('show' in actions) %}

                                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                                {%- elseif metadata.type in ['date', 'datetime'] %}

                                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                                {%- else %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                                {%- endif %}
                                {%- if loop.last %}

                                <td>
                                    {%- include "crud/views/others/actions.html.twig.twig" %}
                                </td>

                                {%- endif %}
                            {%- endfor %}

                            </tr>
                            {{ '{% endfor %}' }}
                            </tbody>
                        </table>

                    </div><!-- /.box-body -->

                    <div class="box-footer clearfix">
                        {{ "{# display navigation #}"}}
                        {{ "{{ knp_pagination_render(pagination) }}" }}
                    </div>
                </div><!-- /.box -->
            </div></div>
    </section>

{{ "{% endblock %}" }}
{% endblock body %}
