{% block extends %}
    {{ "{% extends 'p1r0TplsAdminLTEBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% trans_default_domain 'admin' %}" }}
{{ "{% block content -%}" }}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ "{{ '"~entity~" Creation'|trans}}" }}
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{ "{{ 'Home'|trans}}" }}</a></li>
        <li class="active">{{ "{{ '"~entity~"'|transchoice(2)}}" }}</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">

                <table class="record_properties table table-striped">
                    <tbody>
                    {%- for field, metadata in fields %}

                        <tr>
                            <th>{{ field|capitalize }}</th>

                        {%- if metadata.type in ['date', 'datetime'] %}

                            <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

                        {%- else %}

                            <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                        {%- endif %}

                        </tr>

                    {%- endfor %}

                    </tbody>
                </table>

                {% set hide_edit, hide_delete = false, false %}
                {% include 'crud/views/others/record_actions.html.twig.twig' %}
            </div><!-- /.box -->

        </div>
    </div>
</section>

    {{ "{% endblock %}" }}
{% endblock body %}
